@import '../utilities.css';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: pop;
}

.wrapper {
    background-image: linear-gradient(to right, rgba(253, 253, 253, 0.4), rgba(81, 226, 245, 0.9)), url(../images/bg.jpg);
    position: relative;
    height: 100vh;
    width: 100vw;
}

.img_div img {
    height: 50%;
    width: 50%;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
}

.form_div {
    height: 70%;
    width: 20%;
    border-radius: 10px 10px;
    background-image: linear-gradient(to right, rgba(253, 253, 253, 0.671), rgba(81, 226, 245, 0.9)), url(../images/bg.jpg);
    box-shadow: inset 5px 5px 5px 5px;
    padding: 60px;
    text-align: center;
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form_div h1 {
    margin-bottom: 20px;
    color: var(--primary);
    font-family: fancy;
}

.input-box {
    margin: 10px auto;
    padding: 0.2rem .5rem;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 50px 50px;
    outline: none;
}

.btn_login {
    margin: 20px 0px;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--secondery);
}

.para {
    font-size: 1rem;
}

@media only screen and (max-width: 1800px) {
    .form_div {
        height: 75%;
        width: 25%;
    }
    .img_div img {
        height: 50%;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-25%, -50%);
    }
    .form_div h1 {
        margin-bottom: 20px;
        color: var(--primary);
        font-family: fancy;
        font-size: 25px;
    }
    .input-box {
        margin: 10px auto;
        padding: 0.1rem 0.5rem;
        width: 95%;
        font-size: 16px;
        font-weight: 400;
        border: 2px solid transparent;
        border-radius: 50px 50px;
        outline: none;
    }
}

@media only screen and (max-width: 1100px) {
    .form_div {
        height: 65%;
        width: 55%;
    }
    .img_div img {
        height: 40%;
        width: 50%;
        top: 50%;
        left: 55%;
        transform: translate(-10%, -50%);
    }
    .form_div h1 {
        margin-bottom: 20px;
        color: var(--primary);
        font-family: fancy;
        font-size: 2rem;
    }
    .btn_login {
        margin: 10px 0px;
    }
    a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--secondery);
    }
    .para {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    .form_div {
        height: 70%;
        width: 70%;
    }
    .img_div img {
        height: 50%;
        width: 30%;
        top: 50%;
        left: 70%;
        transform: translate(-1%, -50%);
    }
    .form_div h1 {
        margin-bottom: 20px;
        color: var(--primary);
        font-family: fancy;
        font-size: 16px;
    }
    .input-box {
        margin: 5px auto;
        padding: 0.1rem 0.5rem;
        font-size: 10px;
        font-weight: 400;
        border: 2px solid transparent;
        border-radius: 50px 50px;
        outline: none;
    }
    .btn_login {
        margin: 10px 0px;
    }
    a {
        text-decoration: none;
        font-size: 0.5rem;
        color: var(--secondery);
    }
    .para {
        font-size: 0.8rem;
    }
}