@import '../utilities.css';
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.parent-div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(254, 231, 21, 0.8)), url(../images/bg.jpg);
}

.child-div {
    width: 500px;
    height: 300px;
    background-color: var(--yello);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 5px 5px var(--dark);
    text-align: center;
}

.image-div {
    width: 200px;
    height: 300px;
    position: absolute;
    left: 40%;
    top: 30%;
    transform: translate(1%, -70%);
}

.form_style {
    margin-top: 10%;
    font-family: pop;
    color: var(--dark);
}

.form_text {
    color: var(--dark);
    font-weight: bolder;
    font-family: fancy;
    font-size: larger;
    margin-bottom: 10px;
}

.btn_login {
    background-color: var(--light);
}

.input_box {
    padding: 0.2rem .5rem;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 50px 50px;
    outline: none;
}

@media only screen and (max-width: 600px) {

    .child-div {
        width: 300px;
        height: 200px;
        background-color: var(--yello);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 4px 4px 5px 5px var(--dark);
        text-align: center;
    }

    .image-div {
        width: 100px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75%);
    }

    .form_text {
        color: var(--dark);
        /* margin-left: 12%; */
        font-weight: bolder;
        font-family: fancy;
        font-size: larger;
    }

    .form_style {
        /* margin-left: 15%; */
        font-family: pop;
        color: var(--dark);
    }

    .input_box {
        padding: 0.1rem 0.2rem;
        font-size: 12px;
        font-weight: 300;
        border: 2px solid transparent;
        border-radius: 50px 50px;
        outline: none;
    }

    label{
        font-size: 10px;
    }
}