@import '../utilities.css';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: pop;
}

body {
    background-color: var(--secondery);
    color: var(--light);
}

.wrapper {
    height: 50vh;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondery);
    padding: 10px 10px;
    box-shadow: inset 2px 2px 30px 6px var(--dark);
    border-radius: 20px 30px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 2vw;
    font-family: fancy;
    font-weight: bolder;
    color: var(--light);
    margin-bottom: 20px;
}

.input-box {
    margin: 10px auto;
    padding: 5px 5px;
    font-size: 1vw;
    font-weight: 300;
    border: 2px solid transparent;
    border-radius: 50px 50px;
    outline: none;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        height: 70vh;
        width: 85vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--secondery);
        padding: 10px 10px;
        box-shadow: inset 2px 2px 30px 6px var(--dark);
        border-radius: 20px 30px;
    }
    h1 {
        font-size: 5vw;
        font-family: fancy;
        font-weight: bolder;
        color: var(--light);
        margin-bottom: 20px;
    }
    .input-box {
        margin: 10px auto;
        padding: 5px 5px;
        font-size: 2vw;
        font-weight: 600;
        border: 2px solid transparent;
        border-radius: 50px 50px;
        outline: none;
    }
}